.home-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
    .posts-wrapper { 
        grid-area: 1 / 1 / 2 / 4; 
    }
    
    .form-wrapper { 
        grid-area: 1 / 4 / 2 / 5; 
    }
}