.home-wrapper {
    display: flex;
    flex-direction: row;
    
    .posts-wrapper { 
        width: 75%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .form-wrapper { 
        width: 25%;
    }
}